# Filters for Container "{{container_name}}"
[FILTER]
    Name parser
    Match container-{{container_name}}
    Key_Name log
    Parser {{container_name}}__capture

[FILTER]
    Name record_modifier
    Match container-{{container_name}}
    Remove_key stream
    Record container_name {{container_name}}
    Record hostname ${HOSTNAME}


