# Input for container "{{container_name}}"
[INPUT]
    Name tail
    Path /var/lib/docker/containers/*/*-json.log
    Key log
    Parser {{container_name}}__input
    Tag container-{{container_name}}
    Skip_Long_Lines On
    Skip_Empty_Lines On
    DB {{container_name}}.db


