[SERVICE]
    flush        1
    daemon       Off
    log_level    info
    log_file     /var/log/fluent-bit.log
    parsers_file {{FLUENT_BIT_DIR}}conf/first-symbol-parsers.conf
    parsers_file {{FLUENT_BIT_DIR}}conf/container-log-parsers.conf
    plugins_file {{FLUENT_BIT_DIR}}conf/newrelic-fluent-bit-plugin.conf
    

# Every Input watches for every log file in containers log directory.
# Some logs that contain tag of container name '("attrs":{"tag":"container_name")'
# can be parsed by corresponding parser.
# The field 'attrs.tag' transforms to field 'container_name' that used in next steps
# To enable attrs.tag paste the lines after service in docker-compose file keeping indents:
# logging:
#   options:
#     tag: "{{.Name}}"
@INCLUDE {{FLUENT_BIT_DIR}}conf/inputs.conf

# Exclude unparsed logs without field 'container_name'
[FILTER]
    Name grep
    Alias filter-containers-logs-grep
    Match container-*
    Regex container_name .*

# Concatenate multiline logs
@INCLUDE {{FLUENT_BIT_DIR}}conf/multiline-filters.conf

# Split log to fields by parser (timestamp, level, message etc.)
@INCLUDE {{FLUENT_BIT_DIR}}conf/capture-filters.conf

# Additional filters
@INCLUDE {{FLUENT_BIT_DIR}}pre-output-filters.conf

# Forward logs to output and newrelic
@INCLUDE {{FLUENT_BIT_DIR}}conf/outputs.conf
