#stdout#[OUTPUT]
#stdout#    Name stdout
#stdout#    Match *

#newrelic#[OUTPUT]
#newrelic#    Name newrelic
#newrelic#    Match *
#newrelic#    licenseKey {{licenseKey}}
#newrelic#    endpoint {{endpoint}}


