# Additional unremovable scripts

# Rename message level to standard INFO, WARN, ERROR, DEBUG
[FILTER]
    Name    lua
    Match   *
    script  ./lua-scripts/validate_level.lua
    call    validate_level

